<!DOCTYPE html>
<html>
<head>
    <title>Логин</title>
</head>
<body>
<h1>Логин</h1>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Логин" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Вход</button>
    <a href="/register">Нет аккаунта?</a>
</form>
</body>
</html>